<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ალუბლები</title>

    <link href="~/Content/Plugins/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Animate/Animate.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Jquery.BxSlider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/Plugins/FontAwesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />

    <script src="~/Content/Plugins/Modernizr/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="loader"></div>
    <div id="myDiv">

        <header id="main-header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img class="logo logo-large" src="~/Content/Images/Logos/Logo.svg" alt="Alublebi">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#main-header">მთავარი</a></li>
                            <li class=""><a href="#feature">მომსახურება</a></li>
                            <li class=""><a href="#about">ჩვენ შესახებ</a></li>
                            <li class=""><a href="#portfolio">ფილიალები</a></li>
                            <li class=""><a href="#testimonial">სიახლეები</a></li>
                            <li class=""><a href="#blog">ფასები</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--HEADER-->

        @RenderBody()

        <!---->
        <footer id="footer">
            <div class="container">
                <div class="row text-center">
                    <p>ალუბლები &copy; @DateTime.Today.Year</p>
                    <div class="credits">

                    </div>
                </div>
            </div>
        </footer>
        <!---->
    </div>

        <script src="~/Content/Plugins/Jquery/jquery-3.1.1.js"></script>
        <script src="~/Content/Plugins/Tether/tether.min.js"></script>
        <script src="~/Content/Plugins/Bootstrap/bootstrap.js"></script>
        <script src="~/Content/Plugins/Wow/wow.js"></script>
        <script src="~/Content/Plugins/Jquery.BxSlider/jquery.bxslider.js"></script>
        <script src="~/Content/Plugins/Jquery.Easing/jquery.easing.1.3.js"></script>
        <script src="~/Content/Js/Global.js"></script>
</body>
</html>
