<style>
    #header-content {
        display: none;
    }
</style>
<section id="service" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">საბალეტო სკოლა</h2>
                <p class="sub-title pad-bt15">ვისაც სურვილი გაქვთ თქვენი პატარები ეზიარონ დიდ საბალეტო ხელოვნებას, დახვეწონ მანერები,გახდნენ პლასტიურები, გრაციოზულები და მომხიბვლელები, ზედმეტად ქალურები, გელოდებით ყველას !!!</p>
                <p class="sub-title pad-bt15">ბალეტი ხომ ყველა გოგოს ბავშვობის ოცნებაა !!!</p>
                <hr class="bottom-line">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-text2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-8">
                <blockquote>
                    <p>"ალუბლების" ხელოვნების სკოლაში ფუნქციონირება დაიწყო ირმა ნიორაძის საბავშვო საბალეტო სტუდიამ.</p>
                    <br />
                    <br />
                    <p>სტუდიას უძღვება პატარებთან ძალიან გამოცდილი, პროფესიონალი, ქ-ნ ირმა ნიორაძის ოჯახის წევრი, ამ სკოლა სტუდიის დირექტორი, ზაქარია ფალიაშვილის ოპერისა და ბალეტის მსახიობი ქ-ნი მეკო კვაჭანტირაძე.</p>
                </blockquote>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <p style="font-size: 120%;">რატომ უნდა ვატაროთ ბავშვი ბალეტზე ?!</p>
                <br />
                <p>გარდა იმისა, რომ ბალეტი ხელს უწყობს  არისტოკრატული მანერების ჩამოყალიბებას, იგი აუმჯობესებს  ბავშვის ჯანმრთელობის მდგომარეობას : არეგულირებს სისხლის მომოქცევას,არის სწორად სუნთქვის საუკეთესო თერაპია, აფერხებს ოსტეოქონდროზის ჩამოყალიბებას და შესაბამისად აღმოფხვრის ბრტყელტერფიანობის პრობლემას. მომავალ დედებს საკმაოდ რთული გზის გავლა უხდებათ და რამდენად გასაკვირიც არ უნდა იყოს ბალეტი პატარა ქალბატონებს ამ გზასაც უმარტივებს.</p>
                <br />
                <br />
                <p>და ბოლოს ბალეტი არის ყველაზე დახვეწილი მიმდინარეობა გემოვნებიანი მუსიკის  თანხლებით.</p>
            </div>
            <div class="col-md-5 col-text">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/Content/About.css" />