<div class="space">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">ხელოვნების სკოლა „ალუბლები“</h2>
            <blockquote class="text-left">
                <p>"ქვეყანა, სადაც ისევე აუცილებლად მიიჩნევდნენ ხატვის სწავლას, როგორც წერა-კითხვის ათვისებას, ყველა ქვეყანას აჯობებს ხელოვნების ყველა დარგში."</p>
                <small>ფრანგი განმანათლებელი <cite title="Source Title">დენის დიდრო</cite></small>
            </blockquote>
            <hr class="bottom-line">
        </div>
    </div>
</div>

<section id="service" class="section-padding wow fadeInUp delay-05s">
    <div class="container">


        <div class="row">
            <div class="col-md-4 col-text2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-8">
                <blockquote>
                    <p>"ალუბლების" ხელოვნების სკოლაში ფუნქციონირება დაიწყო ირმა ნიორაძის საბავშვო საბალეტო სტუდიამ.</p>
                    <br />
                    <br />
                    <p>სტუდიას უძღვება პატარებთან ძალიან გამოცდილი, პროფესიონალი, ქ-ნ ირმა ნიორაძის ოჯახის წევრი, ამ სკოლა სტუდიის დირექტორი, ზაქარია ფალიაშვილის ოპერისა და ბალეტის მსახიობი ქ-ნი მეკო კვაჭანტირაძე.</p>
                </blockquote>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-7">
                <p style="font-size: 120%;">რატომ უნდა ვატაროთ ბავშვი ბალეტზე ?!</p>
                <br />
                <p>გარდა იმისა, რომ ბალეტი ხელს უწყობს  არისტოკრატული მანერების ჩამოყალიბებას, იგი აუმჯობესებს  ბავშვის ჯანმრთელობის მდგომარეობას : არეგულირებს სისხლის მომოქცევას,არის სწორად სუნთქვის საუკეთესო თერაპია, აფერხებს ოსტეოქონდროზის ჩამოყალიბებას და შესაბამისად აღმოფხვრის ბრტყელტერფიანობის პრობლემას. მომავალ დედებს საკმაოდ რთული გზის გავლა უხდებათ და რამდენად გასაკვირიც არ უნდა იყოს ბალეტი პატარა ქალბატონებს ამ გზასაც უმარტივებს.</p>
                <br />
                <br />
                <p>და ბოლოს ბალეტი არის ყველაზე დახვეწილი მიმდინარეობა გემოვნებიანი მუსიკის  თანხლებით.</p>
            </div>
            <div class="col-md-5 col-text">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</section>