<div class="header">
    <div class="bg-color">
        <div class="wrapper" id="header-content">
            <div class="container">
                <div class="row">
                    <div class="banner-info text-center wow fadeIn delay-05s">
                        <h1 class="bnr-title"></h1>
                        <h2 class="bnr-sub-title">აქცია "მოიყვანე მეგობარი"</h2>
                        <p class="bnr-para">მოიყვანე მეგობარი და მიიღე დამატებით 10%-იანი ფასდაკლება ორ ბავშვზე<br></p>
                        <div class="brn-btn">
                            <a href="#" class="btn btn-download">რეგისტრაცია</a>
                            <a href="#" class="btn btn-more">სრულად</a>
                        </div>
                        <div class="overlay-detail">
                            <a href="#feature"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->
<section id="feature" class="section-padding wow fadeIn delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">მომსახურება</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/preschool.svg">
                    </div>
                    <h3 class="pad-bt15">საბავშვო ბაღი</h3>
                    <p>მოიყვანეთ ბავშვი 1 წლის ასაკიდან</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/balerina.svg">
                    </div>
                    <h3 class="pad-bt15">საბალეტო სტუდია</h3>
                    <p>ბალეტი ხომ ყველა გოგოს ბავშვობის ოცნებაა</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/english.svg">
                    </div>
                    <h3 class="pad-bt15">უცხოენების ცენტრი</h3>
                    <p>შეასწავლეთ ბავშვს ინგლისური</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/groups.svg">
                    </div>
                    <h3 class="pad-bt15">მოსამზადებელი ჯგუფები</h3>
                    <p>მოამზადეთ ბავშვი ადრეული ასაკიდან</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/preschool.svg">
                    </div>
                    <h3 class="pad-bt15">საბავშვო ბაღი</h3>
                    <p>მოიყვანეთ ბავშვი 1 წლის ასაკიდან</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/balerina.svg">
                    </div>
                    <h3 class="pad-bt15">საბალეტო სტუდია</h3>
                    <p>ბალეტი ხომ ყველა გოგოს ბავშვობის ოცნებაა</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/english.svg">
                    </div>
                    <h3 class="pad-bt15">უცხოენების ცენტრი</h3>
                    <p>შეასწავლეთ ბავშვს ინგლისური</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="~/Content/Images/Options/groups.svg">
                    </div>
                    <h3 class="pad-bt15">მოსამზადებელი ჯგუფები</h3>
                    <p>მოამზადეთ ბავშვი ადრეული ასაკიდან</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<section id="contact" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">კონტაქტი</h2>
                <p class="sub-title pad-bt15"></p>
                <hr class="bottom-line white-bg">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loction-info">
                    <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>თ. აბულაძის 16<br>შ. ნუცუბიძის 177</p>
                    <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@alublebi.ge</p>
                    <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>(032) 2 35 66 88</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="col-md-6 padding-right-zero">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="სახელი" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="მეილი" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="თემა" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="შეტყობინება"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-submit">გაგზავნა</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>